extends layout
block main
    .main
        .slide-show
            img.slide-item(src='/image/SlideShow/slide_1.jpg', alt='Slide 1')
            img.slide-item(src='/image/SlideShow/slide_2.jpg', alt='Slide 2')
            img.slide-item(src='/image/SlideShow/slide_3.jpg', alt='Slide 3')
            img.slide-item(src='/image/SlideShow/slide_4.jpg', alt='Slide 4')
            button.left-btn(onclick='plusDivs(-1)') &#x276E;
            button.right-btn(onclick='plusDivs(1)') &#x276F;
        p(style='color: red; font: bold 2em Arial; text-align: center;') Hottest Product
        .products
          each product in hots
            a.product-item(href='#')
              div
                .image
                  img(src='image/Product/id_'+product.productID+".png", alt='product')
                  .overlay
                       button.add-to-cart
                         i.fa.fa-cart-plus(aria-hidden='true')
                .info
                  .name=product.productName
                  .price= product.buyPrice
block script
    script(src='/js/main.js')
