doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  block title
  link(rel='icon', type='image/png', href='/image/Logo/fav_logo.png',sizes='16x16')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/home.css')
  block css
  
.header

  .top
    a.home(href='/home')
      .logo
    form(action="/search" , method="get").search-box
      input(type='text', placeholder='Search...',name="q")
      button
        i.fa.fa-search(aria-hidden='true')
    .customer
        a(href='/customer') Sign in
        | /
        a(href='/customer') Sign up
    .cart
      a(href='/customer/cart')
        i.fa.fa-cart-plus(aria-hidden='true')
  .row-menu
    ul
      li.item.drop
        a(href='/search?q=')
          i.fa.fa-mobile(aria-hidden='true')
          span &nbsp
          | ALL
        ul.sub-menu
          li.item
            a(href='/search?q=apple') APPLE
          li.item
            a(href='/search?q=samsung') SAMSUNG
          li.item
            a(href='/search?q=huawei') HUAWEI
          li.item
            a(href='/search?q=oppo') OPPO
          li.item
            a(href='/search?q=xiaomi') XIAOMI
          li.item
            a(href='/search?q=vsmart') VSMART
      li.item
        a(href='/search?q=apple')
          i.fa.fa-apple(aria-hidden='true')
          span &nbsp
          | APPLE
      li.item
        a(href='/search?q=samsung')
          i.fa.fa-mobile(aria-hidden='true')
          span &nbsp
          |  SAMSUNG
      li.item
        a(href='/search?q=xiaomi')
          i.fa.fa-mobile(aria-hidden='true')
          span &nbsp
          | XIAOMI
      li.item
        a(href='/search?q=oppo')
          i.fa.fa-mobile(aria-hidden='true')
          span &nbsp
          | OPPO
block main

.footer
  .row
    .col-md-4
      p
        a(href='/search?q=') About us
      p
        a(href='/search?q=') Câu hỏi thường gặp
      p
        a(href='/search?q=') Tra cứu thông tin
    .col-md-4
      p
        a(href='/search?q=') Tin khuyến mãi
      p
        a(href='/search?q=') Hình thức mua online
    .col-md-4
      p Thông tin liên hệ
      p 1800 1800
      p
        | Địa chỉ: 88 Lò Đúc,Hai Bà Trưng,Hà Nội
block script
script.
  if(document.cookie.search("customerID=") >= 0){
  var x = document.getElementsByClassName("customer");
  x[0].innerHTML = "<a href='/customer/profile'>Profile</a>/<a href='/customer/logout'>Logout</a>";
  }