doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  block title
  link(rel='icon', type='image/png', href='/image/Logo/fav_logo.png',sizes='16x16')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  //link(rel='stylesheet', href='/css/home.css')
  link(rel='stylesheet', href='/css/layer.css')
  block css
  
.header.mx-auto
  .top.container-fluid
    .row.mx-auto
      a.home.col-md-3.align-self-center(href='/home')
        .logo
      form.search-box.col-md-6.container(action='/search', method='get')
        .input-group.mb-3
          input.form-control(type='text', placeholder='Search',name="q" aria-describedby='basic-addon2')
          .input-group-append
            button.btn.btn-outline-secondary
              i.fa.fa-search(aria-hidden='true')
      .customer.col-md-2
        a.badge.badge-primary.mr-2(href='/customer') Sign in
        a.badge.badge-primary(href='/customer') Sign up
      .cart.col-md-1
        a.btn.btn-success.btn-lg(href='/customer/cart')
          i.fa.fa-cart-plus(aria-hidden='true')
  .row-menu.container-fluid
    ul.row(style='padding:0; text-align: center;')
      li.item.drop.col-sm-3
        a(href='/search?q=')
          i.fa.fa-mobile(aria-hidden='true')
          span &nbsp
          | ALL
        ul.sub-menu
          li.item
            a(href='/search?q=apple') APPLE
          li.item
            a(href='/search?q=samsung') SAMSUNG
          li.item
            a(href='/search?q=huawei') HUAWEI
          li.item
            a(href='/search?q=oppo') OPPO
          li.item
            a(href='/search?q=xiaomi') XIAOMI
          li.item
            a(href='/search?q=vsmart') VSMART
      li.item.col-sm-2
        a(href='/search?q=apple')
          span &nbsp
          | APPLE
      li.item.col-sm-3
        a(href='/search?q=samsung')
          span &nbsp
          | SAMSUNG
      li.item.col-sm-2
        a(href='/search?q=xiaomi')
          span &nbsp
          | XIAOMI
      li.item.col-sm-2
        a(href='/search?q=oppo')
          span &nbsp
          | OPPO
block main

.footer(class="mx-auto")
  .row
    .col-md-4
      p
        a(href='/search?q=') About us
      p
        a(href='/search?q=') Câu hỏi thường gặp
      p
        a(href='/search?q=') Tra cứu thông tin
    .col-md-4
      p
        a(href='/search?q=') Tin khuyến mãi
      p
        a(href='/search?q=') Hình thức mua online
    .col-md-4
      p Thông tin liên hệ
      p 1800 1800
      p
        | Địa chỉ: 88 Lò Đúc,Hai Bà Trưng,Hà Nội
block script
script.
  if(document.cookie.search("customerID=") >= 0){
  var x = document.getElementsByClassName("customer");
  x[0].innerHTML = "<a href='/customer/profile' class = 'badge badge-success mr-2'>Profile</a><a href='/customer/logout' class = 'badge badge-warning'>Logout</a>";
  }