extends layout
block title
  title Customer
block css
  link(rel='stylesheet', href='/css/login.css')
block main
  .cus-form
    .register
      h1 Register
      form(action='/customer')
        label(for='username') Username
        input#username(type='text', placeholder='abc...')
        label(for='password') Password
        input#password(type='password')
        label(for='numbers') Phone Numbers
        input#numbers(type='text', pattern='[0-9]{10,11}')
        button.register-btn Sign up
    .login
      h1 Sign in
      form(action='#')
        label(for='username') Username
        input#username(type='text', placeholder='abc...')
        label(for='password') Password
        input#password(type='password')
        button.login-btn Log in
  script(src='./js/login.js')
