html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 237, 240);
}
.header{
    height: 140px;
    margin: 0;
    background-color: rgb(180, 21, 21);
    display: flex;
    flex-direction: column;
}
a{
    display: block;
    color: aliceblue;
    text-decoration: none;
}
.top{
    width: 100%;
    flex-grow: 3;
    display: flex;
    
}
.top .home{
    height: 100%;
    flex-grow: 2;
}
.top div{
    height: 100%;
}
.logo{
    background-image: url(/image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.search-box{
    flex-grow: 5;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    
}
.search-box input{
    flex-grow: 7;
    height: 80%;
    padding-left: 2%;
    border-radius: 8px 0px 0px 8px;
    border-width: 0;
    font-size: 20px;
    box-sizing: border-box;
}
button{
    outline:none;
}
.search-box button{
    flex-grow: 1;
    border-radius: 0px 8px 8px 0px;
    height: 80%;
    background-color: rgb(221, 88, 88);
    color: aliceblue;
    border-width: 0;
    
}
.customer{
    flex-grow: 0.2;
    font-size: 20px;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}
.cart{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}
.row-menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.item{
    flex-grow: 1;
    background-color: rgb(209, 28, 28);
    height: 25px;
    transition: background-color 0.2s;
    border-bottom: 1px solid rgb(243, 131, 131);
}
.item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(253, 216, 4);
    
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.item:hover{
    background-color: rgb(226, 43, 89);
}
.sub-menu{
    display: flex;
    flex-direction: column;
    position: relative;
    visibility: hidden;
}
.drop:hover .sub-menu{
    z-index: 1;
   visibility: visible;
}

.main{
    flex-grow: 1;
}
.main .slide-show{
    height: 300px;
    width: 70%;
    margin: 20px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.slide-item{
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s;
    flex-grow: 5;
}
.slide-show button{
    flex-grow: 1;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgb(104, 93, 93);
    color: aliceblue;
    position: absolute;
}
.slide-show:hover button{
    opacity: 0.8;
}
.slide-show .right-btn{
    left: calc(100% - 50px);
}
.slide-show .left-btn{
    left: 0;
}
.products{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: aliceblue;
}
.product-item{
    width: 20%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    transition-property: width,background-color,font-size;
    transition-duration: 0.2s;
    padding: 2% 2%;
    
}
.product-item:hover{
    height: 100%;
    font-size: 16px;
    background-color: rgb(230, 235, 238);
    box-shadow: 5px 5px rgb(92, 87, 87);
    z-index: 10;
    
}
.product-item .info{
    color: rgb(117, 126, 134);
    text-align: center;
    line-height: 1.5;
    
}
.product-item .image{
    width: 100%;
    height: 100%;
    position: relative;
}
.overlay{
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 100%);
    position: absolute;
    top: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
}
.overlay .add-to-cart{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: orange;
    opacity: 1;
    color: aliceblue;
    font-size: 20px;
}
.product-item:hover .overlay{
    opacity: 1;
}

.image img{
    width: 100%;
    height: 100%;
}

.footer{
    display: flex;
    width: 100%;
    height: 180px;
    background-color: rgb(116, 133, 133);
    box-sizing: border-box;
    margin-top: 100px;
    padding: 3% 5%;
}
.footer .col{
    flex-grow: 1;
    font: 1em/1.2 Arial ;
    color: aqua;
}