*{
    outline: none;
}
html{
    width: 100%;
    height: 100%;
}
body{
    background: rgb(228, 211, 176);
}
.header{
    width: 80%;
    background-color: brown;
}
.top{
    padding: 2% 0;
}
.top :nth-child(){
    padding: 0;
}
.logo{
    background-image: url(/image/Logo/med_logo.png);
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.search-box{
    margin-top: 3%;
}
.search-box .row{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search-box button{
    background-color: rgb(230, 91, 91);
    border: none;
    color: white;
}
.search-box input{
    height: 50%;
}
.customer{
    margin-top: 3%;
}
.cart{
    margin-top: 2%;
}
ul{
    list-style-type: none;
}
.row-menu{
    background-color: aqua;
    position: relative;
}
.sub-menu{
    display: flex;
    width: 100%;
    left: 0;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
}
.drop:hover .sub-menu{
   z-index: 1;
   visibility: visible;
}
.item{
    background-color: rgb(209, 28, 28);
    transition: background-color 0.2s;
    border-bottom: 1px solid rgb(228, 61, 61);
    border-left: 1px solid rgb(236, 53, 53);
    padding: 0;
    
}
.item a{
    display: block;
    width: 100%;
    height: 100%;
    color: yellow;
    text-decoration: none;
}
.item a:hover{
    background-color: rgb(172, 69, 43);
}
.footer{
    width: 80%;
}
.main .slide-show{
    height: 300px;
    width: 80%;
    margin: 20px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.slide-item{
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s;
    flex-grow: 5;
    border: none;
}
.slide-show button{
    flex-grow: 1;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgb(104, 93, 93);
    color: aliceblue;
    position: absolute;
}
.slide-show:hover button{
    opacity: 0.8;
}
.slide-show .right-btn{
    left: calc(100% - 50px);
}
.slide-show .left-btn{
    left: 0;
}
.products{
    width: 80%;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: aliceblue;
   
}
.product-item{
    width: 20%;
    min-height: 400px;
    box-sizing: border-box;
    transition-property: width,background-color,font-size;
    transition-duration: 0.3s;
    padding: 1% 2% 5px;
    border: none;
}
.products::after{
    content: "";
    clear: both;
}
card{
    height: 400px;
}
.product-item:hover{
    background-color: rgb(230, 235, 238);
    box-shadow: 1px 1px 4px rgb(92, 87, 87);
    z-index: 10;
}

.product-item a{
    display: block;
    min-height: 400px;
    overflow: hidden;
    color: black;
    font-size: 12px;
}
.product-item:hover a{
    color: rgb(94, 143, 216);
    text-decoration: none;
}
.card-text{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow:1;
    height: 80%;
    overflow: hidden;
}
.footer{
    background-color: rgb(116, 133, 133);
    box-sizing: border-box;
    margin-top: 50px;
    padding: 3% 10%;
    color: aqua;
}
.footer a{
    color: aliceblue;
    text-decoration: none;
}
.footer a:hover{
    color: aquamarine;
}
.add-to-cart{
    width: 50px;
    height: 50px;
    border: none;
    background-color: orange;
    opacity: 1;
    color: aliceblue;
    font-size: 20px;
}
.add-to-cart:hover{
    color: aliceblue;
    background-color: rgb(168, 122, 54);
}