extends ../layout
block title
  title Products
block main
   p.alert.alert-success.mt-3.mx-auto(style="color:red;font-size:30px;text-align:center;font-weight:bold") Results for "#{searchFor}"
   .products.products-search 
        each product in products
            a.product-item(href='#')
                div
                    .image
                        img(src='image/Product/id_'+product.productID+'.png', alt='')
                        .overlay
                            button.add-to-cart
                                i.fa.fa-cart-plus(aria-hidden='true')
                    .info
                        .name=product.productName
                        .screen Screen: #{product.productScreen}
                        .price Price: #{product.buyPrice} M
